body {
    background-color: rgb(39, 39, 39);
    color: rgb(184, 184, 184);
    font-size: 18px;
    overflow-y: hidden;
}

#main {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#borboleta {
    color: rgb(117, 153, 51);
}

p {
    text-align: center;
    display: inline-block;
}

#link {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

#barra {
    color: rgb(255, 74, 74);
    display: inline-block;
}

#pc {
    width: 30vh;
}

a:link {
    color: rgb(117, 153, 51);
}

a:visited {
    color: rgb(55, 70, 27);
}

@media all and (max-width: 600px) {
    body {
        font-size: 16px;
    }
}
